html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  font-size: 12px;
}

canvas {
  display: block;
  margin: 0px;
  padding: 0px;
  background: #000;
}

#actions {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #fff;
  padding: 5px 8px;
  background: #333;
}

#actions label {
  display: block;
  color: #fff;
  font-family: arial;
  text-align: right;
  font-size: 14px;
}

#actions label:first-child {
  margin-bottom: 5px;
}

#actions input[type="number"] {
  width: 35px;
}

#actions input[type="checkbox"] {
  margin: 0px;
  vertical-align: middle;
}

#quantity-label, #colors-label {
  margin-top: 5px;
}


#clearcontainer {
  margin: 13px 0px 3px;
}

#clearcontainer div {
  background: #eee;
  color: #000;
  cursor: pointer;
  text-align: center;
  padding: 3px 7px;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}



#steps {
  text-align: right;
  margin: 7px 0px 3px;
  color: #eee;
}















